# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Time_Series_Assignment/code/Data_Create.R
Time_Series_Assignment/code/Example_Plot_Scatter.R

# Large data files
/Time_Series_Assignment/data
Time_Series_Assignment/resources/South African J Economics - 2005 - MACDONALD - ESTIMATION OF THE EQUILIBRIUM REAL EXCHANGE RATE FOR SOUTH AFRICA1.pdf
Time_Series_Assignment/resources/South African J Economics - 2006 - PLESSIS - EXOGENEITY IN A RECENT EXCHANGE RATE MODEL  A RESPONSE TO MACDONALD AND RICCI.pdf
